body {font-family: 'Roboto', sans-serif; font-size: 14px;line-height: 28px;}

*
{
  -webkit-transition: all 0.5s ease;
   box-sizing: border-box;
  }
  

p {color:rgba(49,50,51,0.7);
  letter-spacing: 0.5px;
  margin: 0;
}

h3 {font-size: 24px;}

img {width: 100%;}

li {list-style-type: none;}  

a {text-decoration: none;}
a:hover {text-decoration: none;}






/* Common button styles */
.button {
	margin: 1em;
	padding: 1em 2em;
	border: none;
  background: none;
  display: inline-block;
	color: #fff;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

/* Nuka */
.button--nuka {
	margin: 1em 2em;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted {
	color: #37474f;
}
.button--nuka::before,
.button--nuka::after {
	content: '';
	position: absolute;
	border-radius: inherit;
	background: #f95b52;
	z-index: -1;
}
.button--nuka::before {
	top: -4px;
	bottom: -4px;
	left: -4px;
	right: -4px;
	opacity: 0.2;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.button--nuka::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale3d(1.1, 1, 1);
	transform: scale3d(1.1, 1, 1);
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}
.button--nuka::before,
.button--nuka::after {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted::before,
.button--nuka.button--inverted::after {
	background: #fff;
}
.button--nuka:hover {
	color: #fff;
}
.button--nuka:hover::before {
	opacity: 1;
}
.button--nuka:hover::after {
	background-color: #ea352a;
}
.button--nuka.button--inverted:hover::after {
	background-color: #7986cb;
}
.button--nuka:hover::after,
.button--nuka:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}


.secondary-buttton {background:#52c5f9;    color: #fff;
  font-size: 14px;
  padding: 10px 15px; border-radius: 5px;}
  .secondary-buttton:hover {background:#3ab2e9;    color: #fff;}








header {height:80px;}
.logo {float:left;}
nav {
  padding: 0px;
  float: right;
}
nav label {display: inline; margin-bottom: 0;}
nav ul {
  float: right;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.04em;
  padding: 25px 15px;
}
nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}
@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}

.banner {background: rgb(216,231,250);
  background: linear-gradient(180deg, rgba(216,231,250,1) 80%, rgba(2,0,36,0) 80%);
}


.banner h1 {font-weight: 900;
  font-size: 48px;
  text-shadow: 0px 5px 1px #ccc;}

  


  
.tabs {
  padding: 20px;
}

.tabs .tab-opt ul {

border: 1px #eee solid;
border-radius: 5px;
text-align: center;
margin: 0px;
padding: 0px;
margin-bottom: 30px;
box-shadow: 0 2px 4px 0 #eaeaea;
border-bottom-color: #ea352a;
border-bottom-width: 1px;
}
.tabs .tab-opt ul li {
  list-style: none;
  display: inline-block;
}
.tabs .tab-opt ul li a {
  color: #c5c5c5;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 30px;
  border-bottom: 2px transparent solid;
}
.tabs .tab-opt ul li.active a {
  border-bottom: 2px #ea352a solid;
  color: #ea352a;
}
.tab-icon {width:100%;display: inline-block;}
/* --- Plugin --- */
.tabs-content > div {
  display: none;
}
.tabs-content > div:first-child {
  display: block;
}

.tabs-content ul {margin: 0px 0px; padding: 0;}
.tabs-content ul li {color: rgba(49,50,51,0.7); position: relative; margin: 15px 0px; padding-left: 25px;}
.tabs-content ul li::before { content: "\f046";
  font-family: 'FontAwesome';
  color: #ea352a;
  position: absolute;
  top: 0px;
  left: 0;
  text-align: center;
  margin: auto;}

/* --- Responsiveness --- */
@media screen and (max-width: 768px) {
  .tabs .tab-opt ul {
      padding-left: 0;
  }
  .tabs .tab-opt ul li a {
      display: block;
      width: 100%;
  }
}

.pricing {}
.pricing-box {
  border: 1px solid #eaeaea;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(148,148,148,.4);
  -moz-box-shadow: 0 2px 4px 0 rgba(148,148,148,.4);
  box-shadow: 0 2px 4px 0 rgba(148,148,148,.4);
}

.pricing-title {
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
    color: #30373b;
    border-bottom: 1px solid #eaeaea;
    text-transform: uppercase;
    text-align: center;
    padding: 17px 5px;
    margin-bottom: 32px;
}

.pricing-count {
  font-size: 72px;
  line-height: 70px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.pricing-count .pricing-top {
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  vertical-align: top;
  padding-left: 0;
  padding-right: 9px;
}

.pricing-count span {
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
  vertical-align: bottom;
  padding-left: 5px;
}

.pricing-option {
  list-style: none;
  border-top: 1px solid #eaeaea;
  padding: 0;
  margin: 0;
}

.pricing-option li {
  list-style: none;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #949494;
  padding: 16px 5px 16px 20px;
  border-bottom: 1px solid #eaeaea;
}

.pricing-option li .list-icon {border-right: 1px #949494 solid; margin-right: 15px; padding-right: 15px;}

/* enterpreneur-section */


.enterpreneur-section {}

  
.enterpreneur-tabs {
  padding: 20px;
}

.enterpreneur-tabs .enterpreneur-tab-opt ul {

border: 1px #eee solid;
border-radius: 5px;
text-align: center;
margin: 0px;
padding: 0px;
margin-bottom: 30px;
box-shadow: 0 2px 4px 0 #eaeaea;
}
.enterpreneur-tabs .enterpreneur-tab-opt ul li {
  list-style: none;
  display: block;
}
.enterpreneur-tabs .enterpreneur-tab-opt ul li a {
  color: #c5c5c5;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 20px 30px;
  border-bottom: 1px #eee solid;
  border-right: 2px transparent solid;
}
.enterpreneur-tabs .enterpreneur-tab-opt ul li.active a {
  border-right: 2px #ea352a solid;
  color: #ea352a;
}
.enterpreneur-tab-icon {width:100%; margin-right: 15px;}
/* --- Plugin --- */
.enterpreneur-tabs-content > div {
  display: none;
}
.enterpreneur-tabs-content > div:first-child {
  display: block;
}

.enterpreneur-tabs-content ul {margin: 0px 0px; padding: 0;}
.enterpreneur-tabs-content ul li {color: rgba(49,50,51,0.7); position: relative; margin: 15px 0px; padding-left: 25px;}
.enterpreneur-tabs-content ul li::before { content: "\f046";
  font-family: 'FontAwesome';
  color: #ea352a;
  position: absolute;
  top: 0px;
  left: 0;
  text-align: center;
  margin: auto;}

/* --- Responsiveness --- */
@media screen and (max-width: 768px) {
  .enterpreneur-tabs .enterpreneur-tab-opt ul {
      padding-left: 0;
  }
  .enterpreneur-tabs .enterpreneur-tab-opt ul li a {
      display: block;
      width: 100%;
  }
}
.enterpreneur-box {padding: 25px;}
.enterpreneur-box .icon {
  color: #ea352a;
  padding: 0px;}

  .enterpreneur-box .enterpreneur-text {
padding-left: 25px;}
  

/* enterpreneur-section */


/* testimonials css */
.testimonials {
  position: relative;
  padding-top: 80px;
}
#customers-testimonials .item-details {
  background-color: #333;
  color: #fff;
  padding: 20px 10px;
  text-align: left;
}
#customers-testimonials .item-details h5 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 18px;
}
#customers-testimonials .item-details h5 span {
  color: red;
  float: right;
  padding-right: 20px;
}
#customers-testimonials .item-details p {
  font-size: 14px;
}
#customers-testimonials .item {
  text-align: left;
  margin-bottom: 80px;
}
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #d6d6d6;
}
.owl-carousel {
  position: relative;
}
.owl-nav {text-align: center;}
.owl-carousel .owl-next, .owl-carousel .owl-prev {
  width: 30px;
  height: 30px;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  margin: 0px 3px;
  border: 1px solid #ddd !important;
  text-align: center;
}
.owl-carousel .owl-prev {

}
.owl-carousel .owl-next {
  }

  /* testimonials css */
  
  
  .blog-img {padding: 0px;}

  .blog-text {
    border: 1px #000 solid;
    margin: 0px 0px 0px 0px;
    background: #fff;
}

.btn {border: 1px #eee solid;}